<div class="content">
  <div class="card">
    <img [src]="user.picture.large" [alt]="" style="width: 100%" />
    <div class="container">
      <h4>
        <div>
          <b> Nom : {{ user.name.last }} </b>
        </div>
        <div>
          <b> Prénom : {{ user.name.first }} </b>
        </div>
      </h4>

      <div>{{ user.dob.age }} ans</div>
      <div>Login : {{ user.login.username }}</div>
      <div *ngIf="visible">Password : {{ user.login.password }}</div>
      <div>
        <input
          class="button"
          type="button"
          (click)="togglePassword()"
          value="Mot de passe"
        />
      </div>
      <div>
        <button class="button" (click)="GetRandomUser()">Random</button>
      </div>
    </div>
  </div>
</div>
