<div class="container">
  <div class="navbar">
    <ul clas="menu">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="['active']">HOME</a>
      </li>
      <li>
        <a [routerLink]="['/profil']">Profil</a>
      </li>
      <li>
        <a [routerLink]="['/signup']">SignUp</a>
      </li>
      <li>
        <a [routerLink]="['/signin']">Signin</a>
      </li>
      <li>
        <a [routerLink]="['/myform']">MyForm</a>
      </li>
    </ul>
  </div>
</div>
